---
import ScrollDown from "./ScrollDown.astro";
import HeroText from "./HeroText.astro";
import boxPanel from "../../assets/videos/boxpanel.webm";
import boxPanelGif from "../../assets/videos/boxpanel-low.gif";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const isSafari = () => {
      const userAgent = navigator.userAgent;
      return /Safari/.test(userAgent) && !/Chrome/.test(userAgent);
    };

    const heroVideo = document.getElementById("hero-video");
    const heroGif = document.getElementById("hero-gif");

    if (heroGif && heroVideo) {
      if (isSafari()) {
        heroGif.style.display = "block";
        heroVideo.style.display = "none";
      } else {
        heroGif.style.display = "none";
        heroVideo.style.display = "block";
      }
    }
  });
</script>

<div class="hero">
  <span class="top-hero">
    <!-- Video (hidden for Safari) -->
    <video id="hero-video" autoplay muted loop playsinline class="cube-img" style="display: none;">
      <source src={boxPanel} type="video/webm" />
    </video>

    <!-- GIF (hidden for others navigators) -->
    <img id="hero-gif" src={boxPanelGif.src} alt="box gif" class="cube-img" style="display: none;" />

    <HeroText />
  </span>
  <ScrollDown />
</div>

<style lang="scss">
  .hero {
    width: 100%;
    height: 85vh;
    max-height: 900px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    gap: 48px;
    .top-hero {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }
  .cube-img {
    padding-top: 48px;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    max-height: 75vh;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.2));
    filter: brightness(0.8);
  }

  @media only screen and (max-width: 1400px) {
    .cube-img {
      max-width: 33vw;
    }
  }

  @media only screen and (max-width: 1024px) {
    .cube-img {
      max-width: 50vw;
    }
    .hero {
      gap: 16px !important;
      .top-hero {
        flex-direction: column;
        gap: 48px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .cube-img {
      max-width: unset !important;
      width: 80vw !important;
    }
  }
</style>
