---
import AnimatedItem from "../AnimatedItem.astro";
---

<div class="people-feedback">
  <AnimatedItem delay=".3s">
    <div class="card">
      <h1>Pepe Mujica</h1>
      <p>"El poder no cambia a las personas, sólo revela quiénes verdaderamente son"</p>
    </div>
  </AnimatedItem>
  <AnimatedItem>
    <div class="card">
      <h1>Pepe Mujica</h1>
      <p>"El poder no cambia a las personas, sólo revela quiénes verdaderamente son"</p>
    </div>
  </AnimatedItem>
  <AnimatedItem delay=".6s">
    <div class="card">
      <h1>Pepe Mujica</h1>
      <p>"El poder no cambia a las personas, sólo revela quiénes verdaderamente son"</p>
    </div>
  </AnimatedItem>
</div>

<style lang="scss">
  .people-feedback {
    min-height: fit-content;
    max-height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 64px;
    .card {
      min-width: 250px;
      width: 100%;
      max-width: 300px;
      min-height: 450px;
      height: 100%;
      border-radius: 10px;
      padding: 16px;
      color: #f1f1f1;
      border: solid 0.5px #6d1e0cb3;
      background-color: #593b351c;
      backdrop-filter: blur(0.8px);
      box-shadow:
        2.8px 2.4px 1.2px rgba(0, 0, 0, 0.021),
        6.2px 5.2px 2.7px rgba(0, 0, 0, 0.031),
        10.4px 8.7px 4.6px rgba(0, 0, 0, 0.038),
        15.7px 13.1px 6.9px rgba(0, 0, 0, 0.044),
        22.7px 18.9px 10px rgba(0, 0, 0, 0.05),
        32.1px 26.8px 14.2px rgba(0, 0, 0, 0.056),
        45.5px 37.9px 20.1px rgba(0, 0, 0, 0.062),
        66.1px 55.1px 29.2px rgba(0, 0, 0, 0.069),
        101.8px 84.9px 45px rgba(0, 0, 0, 0.079),
        181px 151px 80px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 12px;

      background-image: radial-gradient(#9f38383f 0.7px, rgba(255, 0, 0, 0) 0.7px);
      background-size: 12px 12px;
      background-attachment: fixed;

      h1 {
        margin: 0;
        font-size: 24px;
      }
      p {
        margin: 0;
      }
    }
  }
</style>
