:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
}

html {
  background-image: linear-gradient(90deg, #360124, #290a24, #1d0e21, #150f1a, #0e0e0e);
  height: 100%;
  width: 100%;
  font-family:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  "Open Sans",
  "Helvetica Neue",
  sans-serif;  
  
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: max-content;
  width: 100%;
  max-width: 2000px;
  background-image: radial-gradient(#932020c2 0.7px, rgba(255,0,0,0) 0.7px);
  background-size: 24px 24px;
  background-attachment: fixed;
}

a{
  text-decoration: none;
  border: none;

}