---
import AnimatedItem from "../AnimatedItem.astro";

interface Props {
  title?: string;
  description?: string;
  items?: string[];
}

const { title = "", description = "", items = [] } = Astro.props;

console.log(items);
---

<div class="step-info-container">
  <AnimatedItem animation="translateX(20px)">
    <h2>{title}</h2>
  </AnimatedItem>
  <AnimatedItem animation="translateX(20px)" delay="0.2s">
    <p>
      {description}
    </p>
  </AnimatedItem>
  <AnimatedItem animation="translateY(0px)" delay="0.3s">
    <ul class="items">
      <div class="line"></div>
      {
        items.map((item, index) => (
          <AnimatedItem delay={`${0.1 * index + 0.3}s`} animation="translateX(10px)" duration="0.2s">
            <li>{item}</li>
          </AnimatedItem>
        ))
      }
    </ul>
  </AnimatedItem>
</div>

<style lang="scss">
  .step-info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    color: #f1f1f1;
    max-width: 70%;
    min-width: 300px;
    margin-left: 15%;
    gap: min(5%, 24px);
    overflow: hidden;

    h2 {
      margin: 0;
      font-size: 40px;
      font-weight: 700;
    }
    p {
      margin: 0;
      font-size: 20px;
      text-wrap: pretty;
      line-height: 28px;
    }
    ul {
      margin: 0;
      padding: 0;
      position: relative;
      overflow: hidden;
      .line {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #f1f1f1;
        opacity: 0.5;
        border-radius: 0.5px;
      }

      li {
        font-size: 16px;
        list-style: none;
        margin: 0;
        padding: 0;
        opacity: 0.5;
        line-height: 24px;
        margin-left: 24px;
      }
    }
  }

  @media only screen and (max-width: 1400px) {
    .step-info-container {
      margin-left: 12%;
      max-width: 80%;
      min-width: 300px;
      gap: 12px;

      h2 {
        font-size: 32px;
      }
      p {
        font-size: 16px;
        line-height: 20px;
      }
      ul {
        li {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    .step-info-container {
      margin-left: 8%;
      max-width: 80%;
      min-width: 200px;

      h2 {
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
      ul {
        li {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .step-info-container {
      padding: 10%;
      margin: 0;
      aspect-ratio: 1;
      align-content: center;
      min-width: 100%;
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
      }
      ul {
        li {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .step-info-container {
      aspect-ratio: 3/4;
    }
  }
</style>
