---
import { Image } from "astro:assets";
import WuruLogo from "../../assets/images/wuru-logo.svg";
import UserCircle from "../../assets/images/user-circle.svg";
import SocialMediaNav from "./SocialMediaNav.astro";
---

<header class="floating-header">
  <div class="container">
    <Image src={WuruLogo} alt="wuru-logo" height={32} class="wuru-logo" loading={"eager"} />
    <div class="right-side">
      <SocialMediaNav />
      <a class="log-in-btn" href="http://app.wuru.ai" target="_blank" title="Iniciar sesión" rel="noopener noreferrer">
        <span class="text">INICIAR SESIÓN</span>
        <Image src={UserCircle} alt="login-icon" height={28} class="login-icon" loading={"eager"} />
      </a>
    </div>
  </div>
</header>

<script>
  let lastScrollY = window.scrollY;
  const floatingHeader = document.querySelector(".floating-header");

  if (floatingHeader) {
    const handleScroll = () => {
      const currentScrollY = window.scrollY;

      if (currentScrollY > 500) {
        if (currentScrollY < lastScrollY) {
          floatingHeader.classList.add("visible");
        } else {
          floatingHeader.classList.remove("visible");
        }
      } else {
        floatingHeader.classList.remove("visible");
      }

      lastScrollY = currentScrollY;
    };
    window.addEventListener("scroll", handleScroll);
  }
</script>

<style lang="scss">
  .floating-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    opacity: 0;
    transform: translateY(-100%);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    backdrop-filter: blur(5px);
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 1800px;
      padding: 16px 48px;

      .wuru-logo {
        filter: drop-shadow(2px 2px 4px rgb(0, 0, 0, 0.7));
      }

      .right-side {
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 64px;

        .log-in-btn {
          text-decoration: none;
          color: #f1f1f1;
          background-image: linear-gradient(45deg, #110e10, #1a1117, #21121d, #281319, #301a14);
          border: solid 0.25px #7d170363;
          padding: 8px 48px;
          font-size: 12px;
          border-radius: 16px;
          transition: all 0.2s ease-in-out;
          letter-spacing: 1px;
          animation: login-appears 0.2s ease-out forwards;
          opacity: 0;
          animation-delay: 0.8s;

          cursor: pointer;
          &:hover {
            border: solid 0.25px #7d1703bf;
          }
          .login-icon {
            display: none;
          }
        }
      }
    }
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media only screen and (max-width: 1024px) {
    .floating-header {
      .container {
        padding: 12px 24px !important;
        img {
          width: 120px !important;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .floating-header {
      .container {
        .right-side {
          .log-in-btn {
            padding: 12px !important;
            height: 48px;
            width: 48px;
            border-radius: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            .login-icon {
              display: block;
              opacity: 0.7 !important;
            }
            .text {
              display: none !important;
            }
          }
        }
      }
    }
  }
</style>
