---

---

<div class="circle"></div>

<style>
  .circle {
    position: absolute;
    border: solid 1px #932020;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    margin-top: 12px;
    margin-left: 12px;
    top: 0;
    left: 0;
  }
</style>
