---
import SocialMediaNav from "./SocialMediaNav.astro";
import ScrollDown from "./ScrollDown.astro";
import HeroText from "./HeroText.astro";
---

<div class="hero">
  <span class="top-hero">
    <img src="../../public/videos/cubegif.gif" class="cube-img" />
    <HeroText />
  </span>
  <ScrollDown />
  <SocialMediaNav />
</div>

<style lang="scss">
  .hero {
    width: 100%;
    height: 80vh;
    max-height: 900px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    gap: 48px;
    .top-hero {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }
  .cube-img {
    padding-top: 48px;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.2));
  }
</style>
